<div class="col object-rfid-balance-table-wrapper p-0">
    <div class="p-2">
        <div class="form-check form-check-inline">
            <button class="btn btn-sm btn-success" ng-click="combineVehicles()" translate="COMBINE"></button>
        </div>
    </div>
    <table rz-table id="vehicle_sensors_table"
           class="table table-borderless bg-light table-hover table-striped object-rfid-balance-table" ts-wrapper>
        <thead class="thead-dark">
        <tr>
            <th class="rz-hide col" id="vehicle_sensors_name"><span ts-criteria="name|trim" translate>NAME</span></th>
            <th class="rz-hide col"></th>
        </tr>
        </thead>
        <tbody>

        <tr ng-repeat="item in vehicleSensors" ts-repeat>
            <td class="pl-1">
                <div class="form-check form-check-inline">
                    <div class="custom-control custom-checkbox p-0">
                        <input ng-show="item.sid" ng-disabled="ui.sensorInProgress"
                               class="form-check-input custom-control-input" type="checkbox" ng-model="item.active"
                               id={{item.sid+'vehicle_sensor'}}>
                        <label class="form-check-label custom-control-label" for={{item.sid+'vehicle_sensor'}}
                               ng-click="setVehicleSensor(item)">{{item.name}}</label>
                    </div>
                </div>
            </td>
            <td>
                <div>
                    <img ng-if="item.image" ng-src="data:image/JPEG;base64,{{item.image}}"><span ng-bind="item.val"></span>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>