<div class="main-table-wrapper overflow-auto shadow table-responsive">
    <table class="table table-borderless table-striped table-hover account-operations-table" ts-wrapper>
        <thead class="thead-dark">
        <tr>
            <th ts-criteria="id" scope="col" class="align-middle border-0" translate>ID</th>
            <th ts-criteria="dateTime" ts-default scope="col" class="align-middle border-0" translate>DATE</th>
            <th ts-criteria="status" scope="col" class="align-middle border-0" translate>STATUS</th>
            <th ts-criteria="userName" scope="col" class="align-middle border-0" translate>USER</th>
            <th ts-criteria="storageFromName" scope="col" class="align-middle border-0" translate>STOREHOUSE_FROM</th>
            <th ts-criteria="storageToName" scope="col" class="align-middle border-0" translate>STOREHOUSE_TO</th>
            <th ts-criteria="count" scope="col" class="align-middle border-0" translate>COUNT</th>
            <th scope="col" class="align-middle border-0"></th>
            <th scope="col" class="align-middle border-0"></th>
        </tr>
        <tbody>
        <tr ng-repeat="item in items | filter: search" ts-repeat>
            <td class="align-middle">
                <span ng-bind="item.id"></span>
            </td>
            <td class="align-middle">
                <span ng-bind="item.dateTime | date:'medium'"></span>
            </td>
            <td class="align-middle">
                <div class="input-group">
                    <input  ng-true-value="1" ng-false-value="0" type="checkbox" ng-model="item.status" ng-click="$event.stopPropagation()" ng-change="changeStatus(item)">
                </div>
            </td>
            <td class="align-middle">
                <span ng-bind="item.userName"></span>
            </td>
            <td class="align-middle">
                <span ng-bind="item.storageFromName"></span>
            </td>
            <td class="align-middle">
                <span ng-bind="item.storageToName"></span>
            </td>
            <td class="align-middle">
                <span ng-bind="item.count | number:2"></span>
            </td>
            <td class="align-middle width-25"><i ng-if="item.status==0" role="button" class="bi bi-pencil" ng-click="$event.stopPropagation();moveFuel(item.id)"></i></td>
            <td class="align-middle width-25"><i ng-if="item.status==0" role="button" class="bi bi-trash" ng-click="$event.stopPropagation();delete(item)"></i></td>
        </tr>
        <tr>
            <td colspan="8" class="align-middle">
                <button class="btn btn-success btn-sm" ng-click="moveFuel()"><i class="bi bi-plus"></i></button>
            </td>
        </tr>
        </tbody>
    </table>
</div>