<div class="main-table-wrapper overflow-auto shadow table-responsive">
    <table class="table table-borderless table-striped table-hover account-operations-table" ts-wrapper>
        <thead class="thead-dark">
        <tr>
            <th>#</th>
            <th scope="col" class="align-middle border-0" translate>ID</th>
            <th ts-criteria="name" ts-default scope="col" class="align-middle border-0" translate>NAME</th>
            <th ts-criteria="divisionName" scope="col" class="align-middle border-0" translate="DIVISION"></th>
            <th scope="col" class="align-middle border-0"></th>
            <th scope="col" class="align-middle border-0"></th>
            <th scope="col" class="align-middle border-0"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in employees | filter: search" ts-repeat ng-click="selectItem(item)" ng-class="item.id==selectedEmployee.id ? 'badge-secondary' : ''">
            <td class="align-middle width-25">
                <span ng-bind="$index+1"></span>
            </td>
            <td class="align-middle width-100">
                <span ng-bind="item.codeId?item.codeId:''" ng-show="selectedItem.id != item.id"></span>
                <div class="input-group" ng-show="selectedItem.id == item.id">
                    <input type="text" class="form-control form-control-sm" ng-model="selectedItem.codeId">
                </div>
            </td>
            <td class="align-middle w-25">
                <span ng-bind="item.name" ng-show="selectedItem.id != item.id"></span>
                <div class="input-group" ng-show="selectedItem.id == item.id">
                    <input type="text" class="form-control form-control-sm" ng-model="selectedItem.name">
                </div>
            </td>
            <td class="align-middle w-25">
                <span ng-bind="item.divisionName" ng-show="selectedItem.id != item.id"></span>
                <div class="input-group" ng-show="selectedItem.id == item.id">
                    <select type="text" class="form-control form-control-sm" ng-model="selectedItem.divisionId">
                        <option ng-repeat="division in divisions" ng-value="division.id">{{division.name}}</option>
                    </select>
                </div>
            </td>
            <td colspan="w-25">
                <i ng-if="item.photo" class="bi bi-person-video"></i>
            </td>
            <td ng-show="selectedItem.id != item.id" class="align-middle width-25"><i role="button" class="bi bi-pencil" ng-click="edit(item)"></i></td>
            <td ng-show="selectedItem.id != item.id" class="align-middle width-25"><i role="button" class="bi bi-trash" ng-click="delete(item)"></i></td>
            <td ng-show="selectedItem.id == item.id" colspan="2" class="align-middle">
                <div class="float-right">
                    <button class="btn btn-primary btn-sm" ng-click="save()"><i class="bi bi-check"></i></button>
                    <button class="btn btn-danger btn-sm" ng-click="cancel()"><i class="bi bi-x"></i></button>
                </div>
            </td>
        </tr>
        <tr>
            <td></td>
            <td class="align-middle">
                <div class="input-group">
                    <input type="number" class="form-control form-control-sm" ng-model="newItem.codeId">
                </div>
            </td>
            <td class="align-middle">
                <div class="input-group">
                    <input maxlength="100" type="text" class="form-control form-control-sm" ng-model="newItem.name">
                </div>
            </td>
            <td colspan="5" class="align-middle">
                <button class="btn btn-success btn-sm" ng-disabled="!newItem.name" ng-click="add()"><i class="bi bi-plus"></i></button>
            </td>
        </tr>
        </tbody>
    </table>
</div>